<div class="bg-blue-50 p-5 rounded-xl border border-blue-100 hover:shadow-md transition-shadow duration-300">
    <!-- Slot para el ícono/imagen -->
    <div class="text-blue-500 mb-3">
        <slot name="icon">
            <img 
                src="" 
                alt="Icono por defecto" 
                class="w-8 h-8"
            />
        </slot>
    </div>
    <h3 class="font-bold text-gray-800 mb-2 ">
        <slot name="title"></slot>
    </h3>
    
    <p class="text-gray-600 text-sm">
        <slot name="content"></slot>
    </p>
</div>