---
import Cardsecretarias from "./Cardsecretarias.astro";
---

<section class="min-h-screen flex flex-col justify-center items-center px-4 py-12 pt-32">
     <main class="flex-grow flex items-center justify-center p-6 py-10">
        <div class="bg-white p-10 rounded-2xl floating-shadow w-full max-w-4xl">
            <div class="text-center mb-10">
                <h1 class="text-3xl font-bold text-gray-800 mb-4">Secretaria general</h1>
                <p class="text-gray-600 max-w-2xl mx-auto">Estas personas son quienes conforman las directivas principales de nuestro sindicato</p>
            </div>
            
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Presidente</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Vice Precidente</h3>
                    <p slot="content">juanito juarez</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Secreatria</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
            </div>
            <h1 class="text-3xl font-bold text-gray-800 mb-4">Secretaria San Calixto</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Presidente</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Vice Precidente</h3>
                    <p slot="content">juanito juarez</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Secreatria</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
            </div>

            <h1 class="text-3xl font-bold text-gray-800 mb-4">Secretaria Teorama</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Presidente</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Vice Precidente</h3>
                    <p slot="content">juanito juarez</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Secreatria</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
            </div>
            <h1 class="text-3xl font-bold text-gray-800 mb-4">Secretaria El Tarra</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Presidente</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Vice Precidente</h3>
                    <p slot="content">juanito juarez</p>
                </Cardsecretarias>
                
                <Cardsecretarias>
                    <img slot="icon" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg" alt="Custom icon" />
                    <h3 slot="title">Secreatria</h3>
                    <p slot="content">Pepito perez pedraza</p>
                </Cardsecretarias>
            </div>
            
            
        </div>
    </main>

     <style>
        .floating-shadow {
            box-shadow: 
                0 25px 50px -12px rgba(0, 0, 0, 0.25),
                0 0 0 1px rgba(0, 0, 0, 0.05);
        }
    </style>
</section>