---
import "../styles/global.css";
import Footer from '../components/Fotter.astro'
import Header from '../components/Header.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/361244958_589761239982121_412916020982252383_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEqhb822jRKaNp7iR4lXp1lzF9eP2KhQ4LMX14_YqFDgg5nkQ13ekieUR1MaFKXDhs0jq8EM8hlO-UO7z4U-yZM&_nc_ohc=Dpsa9mk0mpkQ7kNvwHSjBNw&_nc_oc=AdmH_07axFuHgTz_JZMHhEvge9snpzhKUGMDlGqRPGn2Cdezo_hVOHN9YIh7XUB1L0Y&_nc_zt=23&_nc_ht=scontent.fvup1-1.fna&_nc_gid=XJN8U3tcg3GA9P8rnn85bA&oh=00_AfZI4dSNAykD6nDcyHv3-hYbmd_4mta2nd7JZbmzU0ehbQ&oe=68E09592" />
		<meta name="generator" content={Astro.generator} />
		<title>Sutens </title>
	</head>
	<body>
		<Header></Header>
			<slot/>
		<Footer></Footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
