---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
    <section class="h-[90vh]">
        <h1 class="pt-20 text-6xl text-center flex justify-center">aca van los decretos que van saliendo e informacion importante</h1>
    </section>
</Layout>