---
import Secretarias from '../../components/ComponentesSecretarias/Secretarias.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout>
    <main class="">
        <Secretarias></Secretarias>
    </main>
    
</Layout>