<h2 class="text-3xl font-bold mb-4">¡Únete a SUTENS Hoy!</h2>
<p class="text-xl mb-6 max-w-2xl mx-auto">
    Más de 1,000 trabajadores de norte de santander ya forman parte de nuestro
    sindicato. Juntos somos más fuertes para defender nuestros derechos.
</p>
<a
    href="/public/Formatodeafiliciacionsutens.pdf"
    download
    class="inline-block bg-gradient-to-r from-emerald-400 to-green-600 text-white font-semibold px-6 py-2 rounded-lg shadow-md hover:shadow-lg hover:from-emerald-500 hover:to-green-700 transition-all duration-300"
>
    Descargar formato de afiliación
</a>
