---
import Hamburger from '../../public/Icons/Hamburger.astro'
---

<header>
<header class="fixed top-0 w-full bg-white/30 backdrop-blur-md shadow-sm">
  <div class="max-w-6xl mx-auto flex items-center justify-between px-6 py-4 text-gray-800 font-medium  ">
    
    <!-- Logo -->
      <a href="" class="flex items-center">
        <img src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/361244958_589761239982121_412916020982252383_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEqhb822jRKaNp7iR4lXp1lzF9eP2KhQ4LMX14_YqFDgg5nkQ13ekieUR1MaFKXDhs0jq8EM8hlO-UO7z4U-yZM&_nc_ohc=Dpsa9mk0mpkQ7kNvwHSjBNw&_nc_oc=AdmH_07axFuHgTz_JZMHhEvge9snpzhKUGMDlGqRPGn2Cdezo_hVOHN9YIh7XUB1L0Y&_nc_zt=23&_nc_ht=scontent.fvup1-1.fna&_nc_gid=XJN8U3tcg3GA9P8rnn85bA&oh=00_AfZI4dSNAykD6nDcyHv3-hYbmd_4mta2nd7JZbmzU0ehbQ&oe=68E09592" alt="SUTENES Logo" class="h-8">
        <span class="text-xl font-semibold tracking-wide">SUTENES</span>
      </a>

    <!-- Navegación Desktop -->
    <nav class="hidden md:flex items-center space-x-8  ">
      <a href="/" class="hover:text-blue-600 transition">INICIO</a>
      <a href="#modulos" class="hover:text-blue-600 transition">SECRETARIAS</a>
      <a href="#contacto" class="hover:text-blue-600 transition">NOSOTROS</a>
      <a href="#reportes" class="hover:text-blue-600 transition">COMUNICACIONES</a>
    </nav>

    <div class="items-center flex">
        <a href="/Afiliate" class="hover:text-blue-600 transition ">AFILIATE</a>
    </div>

    <!-- Botón + Hamburguesa -->
    <div class="flex ">
      <!-- Botón Hamburguesa -->
      <button id="menu-btn" class="md:hidden flex flex-col space-y-1 focus:outline-none">
       <Hamburger></Hamburger>
      </button>
    </div>
  </div>

  <!-- Menú Móvil -->
  <div id="menu" class="hidden md:hidden flex-col items-center bg-white/95 backdrop-blur-md shadow-md py-4 space-y-4 flex">
    <a href="#inicio" class="text-gray-800 hover:text-blue-600 transition">Inicio</a>
    <a href="#modulos" class="text-gray-800 hover:text-blue-600 transition">Módulos</a>
    <a href="#suplencias" class="text-gray-800 hover:text-blue-600 transition">Gestión de Suplencias</a>
    <a href="#reportes" class="text-gray-800 hover:text-blue-600 transition">Reportes</a>
    <a href="#contacto" class="text-gray-800 hover:text-blue-600 transition">Contacto</a>
  </div>
</header>

<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");

  btn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
</script>

</header>