---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<div class="h-[90vh]">
	<div class=" bg-white mt-">

	</div>
</div>

<style>
	.body{
		background-color: green;
	}
</style>
