---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<div class="h-screen bg-green-900">
	<h1>hola</h1>
</div>

<style>
	.body{
		background-color: green;
	}
</style>
